A {
	color: #082573;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
	font-size: 8pt;
	font-style: normal;
	padding: 10px 2px 0px 2px;
	vertical-align: bottom;
}

A:ACTIVE {
	color: #9D9DCE;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
	font-size: 8pt;
	font-style: italic;
	padding: 10px 2px 0px 2px;
	vertical-align: bottom;
}

A:HOVER {
	color: #C90601;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration:underline;
	font-size: 8pt;
	font-style: normal;
	padding: 10px 2px 0px 2px;
	vertical-align: bottom;
}

A.menuOpcion1 {
	color: #FFFFCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
	font-size: 8pt;
	font-weight: bold;
	padding: 0px 0px 0px 0px;
	text-align: left;
}

A.menuOpcion1:ACTIVE {
	color: #F5F5FA;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: underline;
	font-size: 8pt;
	font-weight: bold;
	padding: 0px 0px 0px 0px;
	text-align: left;
}

A.menuOpcion1:HOVER {
	color: #C90601;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: underline;
	font-size: 8pt;
	font-weight: bold;
	padding: 0px 0px 0px 0px;
	text-align: left;
}

A.menuOpcion2 {
	color: #FFFFCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
	font-size: 8pt;
	padding: 0px 0px 0px 0px;
}

A.menuOpcion2:ACTIVE {
	color: #F5F5FA;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
	font-size: 8pt;
	padding: 0px 0px 0px 0px;

}


A.menuOpcion2:HOVER {
	color: #C90601;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
	font-size: 8pt;
	padding: 0px 0px 0px 0px;
}

body.paginaPrincipalCentro{
	background-image: url(../imagenes/fondocentral.gif);
	background-repeat: no-repeat;
	background-position: left;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color:#082573;
}

body.izquierda{
	 background-image: url(../imagenes/fondolateral.gif);
	background-repeat: no-repeat;
	background-position: left;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color:#082573;
}

body.frameCentral{
	padding: 0px 0px 0px 0px;
	border-right: 2px solid #404040;
	border-left: 2px solid #EBEBF5;
	border-bottom: 2px solid #EBEBF5;
	border-top: 2px solid #404040;
	background-position: left;
	background-repeat: no-repeat;
}

body.top{
	background-color:#0B2A7B;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}


body.main {
	background-image: url(../imagenes/fondocentral2.gif);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-repeat: no-repeat;
	background-position: left;
	text-align: left;
	background-color:#C2C2E0;
}

body.centro{
	background-image: url(../imagenes/fondocentral1.gif);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-repeat: no-repeat;
	background-position: left;
	text-align: left;
	background-color:#ADADD6;
}

body.down {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color:#0B2A7B;
}

body.paramodal{
	vertical-align : middle;
	text-align: left;
	background-color : transparent;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 15px 15px 15px 15px;
}


body.listadocarga{
	vertical-align : top;
	text-align: left;
	background-color : transparent;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 0px 0px 0px 0px;
}

body.previsualizacion{
	padding: 0px 0px 0px 0px;
	vertical-align: middle;
	text-align: center;
	margin: 0px 0px 0px 0px;
	border-right: 2px solid #404040;
	border-left: 2px solid #EBEBF5;
	border-bottom: 2px solid #EBEBF5;
	border-top: 2px solid #404040;
}


table.general {
	width : 100%;
	height : 100%;
	vertical-align: top;
	text-align:center;
}

table.textoTop {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style: normal;
	color: #FFFFCC;
	text-decoration: none;
	vertical-align: top;
	padding: 0px 4px 0px 0px;
}


tr.cabeceraSuperior{
	background-color: #082573;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	color: #FFFFFF;
	padding-bottom: 2px;
	vertical-align: bottom;
}

tr.cabeceraInferior{
	background-color: #F5FBF9;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #082573;
	vertical-align: bottom;
}

tr.pieInferior{
	background-color: #F5F5FA;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #333399;
	vertical-align: bottom;
}

table.calendario {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: none;
	vertical-align: top;
	background-color:#d6d6eb;
	border : thin outset #4747a3;
	font-weight : bold;
	width: 100%;
	text-align : center;
}

table.cabeceraTabla {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: none;
	vertical-align: top;
	background-color:#687CAB;
	border : thin outset #CED3E3;
	font-weight : bold;
	width: 100%;
	text-align : center;
}

table.centroTabla {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: none;
	vertical-align: top;
	background-color:#687CAB;
	border : thin outset #CED3E3;
	width: 100%;
}

.fondoProtegido {
	background-color:#FFFFE8;
}

tr.filaImpar {
	 color: #5C5CAD;
	 background-color:#d6d6eb;
	 height:15px;
	 padding-left:6px;
}

tr.filaPar {
	 color: #082573;
	 background-color:#FFFFE8;
	 height:15px;
	 padding-left:6px;
}
tr.filaTotal {
	 color: #000000;
	 background-color:#FFFFFF;
         font-family: Verdana, Arial, Helvetica, sans-serif;
         font-style: normal;
         font-weight: bold;
	 height:15px;
	 padding-left:6px;
}

tr.filaSelecionada {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #5C5CAD;
	color: #FFFFFF;
	border-top: 1px solid #FFFFE8;
	border-bottom: 1px solid #FFFFE8;
	font-weight : bold;
}

tr.filaCabecera {
	 color: #FFFFFF;
	 background-color:#082573;
}


.botonAccion {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #0B2A7B;
	color: #FFFFCC;
	font-size: 10px;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	padding: 0px 0px0px 0px;
	border-top: thin outset #d6d6eb;
	border-bottom: thin outset #d6d6eb;
	border-left: thin outset #d6d6eb;
	border-right: thin outset #d6d6eb;
}

.botonAccionLight{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #d6d6eb;
	color: #333399;
	font-size: 10px;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	padding: 0px 0px 0px 0px;
	border-left: thin outset  #F5F5FA;
	border-top: thin outset  #F5F5FA;
	border-bottom: thin outset  #F5F5FA;
	border-right: thin outset  #F5F5FA;
	cursor:hand;
}

.botonAccionPress{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #d6d6eb;
	color: #333399;
	font-size: 10px;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	padding: 0px 0px 0px 0px;
	border-left: thin outset  #F5F5FA;
	border-top: thin outset  #F5F5FA;
	border-bottom: thin outset  #F5F5FA;
	border-right: thin outset  #F5F5FA;
	font-weight : bold;
	cursor:hand;
}



td.columnaTitularPress {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: none;
	vertical-align: top;
	font-weight : bold;
	background-color: #d6d6eb;
	color: #333399;
	text-align: center;
	cursor:hand;
	border-left: 1px solid #4747a3;
	border-right: 1px solid #4747a3;
}
td.copyrigth {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;

	vertical-align: bottom;
	color: #ffffff;
	text-align: left;
}
td.columnaDatosPress {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: none;
	vertical-align: top;
	background-color: #F5F5FA;
	cursor:hand;
	border-left: 1px solid #4747a3;
	border-right: 1px solid #4747a3;

}

td.pestanas{
	background-color: #5C5CAD;
	padding : 0px 0px 0px 0px;
	vertical-align: bottom;
	text-align: center;
	width: 100%;
	height: 17px;
}

td.pestanaEnable{
	background-color: #F5F5FA;
	padding : 0px 0px 0px 0px;
	vertical-align: middle;
	text-align: center;
	height: 17px;
	color: #333399;
	font-size: 11px;
	font-weight: bold;
	border-top: thin outset #d6d6eb;
	border-left: thin outset #d6d6eb;
	border-right: thin outset #d6d6eb;
}

td.pestanaDisable{
	background-color: #5C5CAD;
	padding : 0px 0px 0px 0px;
	vertical-align: middle;
	text-align: center;
	height: 17px;
	color: #F5F5FA;
	font-size: 10px;
	font-weight: bold;
	cursor:hand;
	border-top: thin outset #d6d6eb;
	border-bottom: thin outset #d6d6eb;
	border-left: thin outset #d6d6eb;
	border-right: thin outset #d6d6eb;
}
td.pestanaEnableInterno{
	background-color: #BDD1ED;
	padding : 0px 0px 0px 0px;
	vertical-align: middle;
	text-align: center;
	height: 17px;
	color: #333399;
	font-size: 11px;
	font-weight: bold;
	border-top: thin outset #d6d6eb;
	border-left: thin outset #d6d6eb;
	border-right: thin outset #d6d6eb;
}

td.pestanaDisableInterno{
	background-color: #E2E2E2;
	padding : 0px 0px 0px 0px;
	vertical-align: middle;
	text-align: center;
	height: 17px;
	color: #333399;
	font-size: 10px;
	font-weight: bold;
	cursor:hand;
	border-top: thin outset #d6d6eb;
	border-bottom: thin outset #d6d6eb;
	border-left: thin outset #d6d6eb;
	border-right: thin outset #d6d6eb;
}


td.areaCentral{
	color: #333399;
	padding : 0px 0px 0px 0px;
	vertical-align: top;
	text-align: left;
	width: 100%;
	background-position: left;
	background-repeat: no-repeat;
	background-color: #F5FBF9;
}
td.areaCentralInterno{
	color: #333399;
	padding : 0px 0px 0px 0px;
	vertical-align: top;
	text-align: left;
	width: 100%;
	background-position: left;
	background-repeat: no-repeat;
	background-color: #BDD1ED;
}

td.areaCentral2{
	vertical-align: bottom;
	text-align: left;
	width: 100%;
	background-color: #F5FBF9;
}

td.normal{
	vertical-align : top;
	padding: 6px 0px 0px 0px;
	text-align: left;
	background-color : transparent;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #333399;
	font-size: 10px;
}

td.texto{
	vertical-align : middle;
	padding: 8px 0px 0px 0px;
	text-align: left;
	background-color : transparent;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #082573;
	font-size: 10px;
}

td.desplegable{
	vertical-align : top;
	padding: 6px 0px 0px 0px;
	text-align: left;
	background-color : transparent;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #333399;
	font-size: 10px;
}

td.titular {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	padding: 0px 0px 0px 100px;
	vertical-align: top;
}


td.logocentral{
	vertical-align: middle;
	text-align: center;
	padding: 0px 0px 0px 100px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}


td.lupa{
	vertical-align: top;
	padding: 0px 0px 0px 19px;
}


td.parabajarlaflecha{
	vertical-align: bottom;
	padding-bottom: 8px;
}

td.parasubirlaflecha{
	vertical-align: top;
	padding-top: 8px;
}

.mainAyuda{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color:#DEE8F6;
	vertical-align:bottom;
	background-repeat: no-repeat;
	text-align: left;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	color:#082573;
        font-size: 11px;
}
.mainFondo{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color:#F5FBF9;
	vertical-align:bottom;
	background-repeat: no-repeat;
	text-align: left;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	color:#082573;
}
.mainFondoInterno{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color:#BDD1ED;
	vertical-align:bottom;
	background-repeat: no-repeat;
	text-align: left;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	color:#082573;
}
.mainFondoAzul{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color:#082573;
	vertical-align:bottom;
	background-repeat: no-repeat;
	text-align: left;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	color:#F5FBF9;
}


.areaSubmenu{
	font-size: 8px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.colorpalos{
	color: #4747a3;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding-bottom: 2px;
}

.cajaTexto {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 16px;
	font-size : 10px;
	color : #333399;
	border: 1px solid #5C5CAD;
	vertical-align: middle;
	background-color: #FFFFE8;
	width: 150px;
}
.cajaTextoLabel{
	height: 16px;
	background-color: #F5F5FA;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333399;
	vertical-align: top;
	border: none;
}


.cajaTextoModificada {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 16px;
	font-size : 10px;
	color : #C90601;
	border: 1px solid #5C5CAD;
	vertical-align: middle;
	background-color: #FFFFE8;
	width: 150px;
}

.cajaTexto2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 16px;
	font-size : 10px;
	color : #333399;
	border: 1px solid #5C5CAD;
	vertical-align: middle;
	background-color: white;
	width: 150px;
}

.cajaTextoFecha {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 16px;
	font-size : 10px;
	color : #333399;
	border: 1px solid #5C5CAD;
	vertical-align: middle;
	background-color: white;
	width: 75px;
}

.cajaTexto3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 16px;
	font-size : 10px;
	color : #333399;
	border: 1px solid #5C5CAD;
	vertical-align: middle;
	background-color: white;
	width: 400px;
}

.cajaTexto4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 16px;
	font-size : 10px;
	color : #333399;
	border: 1px solid #5C5CAD;
	vertical-align: middle;
	background-color: white;
	width: 75px;
        text-align: right;
}
.inputFile {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	text-align: left;
	background-color: white;
	border: 1px solid #5C5CAD;
	width: 350px;
	height: 18px;
	color : #333399;
}

.cajaTextoMultiple {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size :  10px;
	color : #333399;
	border: 1px solid #5C5CAD;
	vertical-align: middle;
	background-color: #FFFFE8;
	width: 190px;
}

.cajaTextoMultiple2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size :  10px;
	color : #333399;
	border: 1px solid #5C5CAD;
	vertical-align: middle;
	background-color: white;
	width: 190px;
}

.checks {
	border: 1px solid #5C5CAD;
	background-color: #FFFFE8;
}

.image {
	cursor:hand;
}

.letras{
	font-size: 15px;
	color: #8AA2B2;
	font-weight: bold;
}


.paraelboton{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #333399;
	font-size: 10px;
	text-align: center;
	vertical-align: middle;
}


.botonformulario {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #5C5CAD;
	color: #FFFFCC;
	font-size: 10px;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	padding: 0px 0px0px 0px;
	border-top: thin outset #d6d6eb;
	border-bottom: thin outset #d6d6eb;
	border-left: thin outset #d6d6eb;
	border-right: thin outset #d6d6eb;
}

.botonformularioLight{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #d6d6eb;
	color: #333399;
	font-size: 10px;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	padding: 0px 0px 0px 0px;
	border-left: thin outset  #F5F5FA;
	border-top: thin outset  #F5F5FA;
	border-bottom: thin outset  #F5F5FA;
	border-right: thin outset  #F5F5FA;
	cursor:hand;
}

.botonformularioPress{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #d6d6eb;
	color: #333399;
	font-size: 10px;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	padding: 0px 0px 0px 0px;
	border-left: thin outset  #F5F5FA;
	border-top: thin outset  #F5F5FA;
	border-bottom: thin outset  #F5F5FA;
	border-right: thin outset  #F5F5FA;
	font-weight : bold;
	cursor:hand;
}



.seleciontabla {
	vertical-align : bottom;
	text-align: center;
	font-size: 12px;
	padding: 3px 0px 3px 3px;
	font-weight: bold;
	background-color : transparent;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-bottom: 1px solid #333399;
	background-color: #ADAD88;
	color: #333399;
	text-decoration: none;
	border-left: 1px solid #333399;
}

.seleciontablaPress {
	vertical-align : bottom;
	text-align: center;
	font-size: 12px;
	padding: 3px 0px 3px 3px;
	font-weight: bold;
	background-color : transparent;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-bottom: 1px solid #333399;
	background-color: #FFCC66;
	color: #333399;
	text-decoration: none;
	border-left: 1px solid #333399;
}

textarea{
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: normal;
	font-weight: normal;
	border: 1px solid #5C5CAD;
	background-color: #FFFFE8;
	width: 280px;
	color : #333399;
	text-align: left;
}

.textarea2{
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: normal;
	font-weight: normal;
	border: 1px solid #5C5CAD;
	background-color: white;
	width: 280px;
	color : #333399;
	text-align: left;
}


#flecha {
	position:absolute;
	z-index: 3;
	bottom:1px;
	right: -1px;
	width:16px;
	height:9px;
	visibility:hidden;
}

#areaInferior {
	position:absolute;
	background-color: #FFFFE8;
	border:1px solid #5C5CAD;
	bottom:5px;
	left:0px;
	width:96%;
	height:25%;
	z-index:3;
	visibility: hidden;
}

.celdaArbol{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color:#F5F5FA;
	color:#333399;
	font-size: 8pt;
	font-style: normal;
}

.filaImpar {
	 color: #5C5CAD;
	 background-color:#d6d6eb;
	 height:16px;
         font-size : 10px;
}

.filaImparNoBorder {
	 color: #5C5CAD;
	 background-color:#d6d6eb;
	 height:16px;
         font-size : 10px;
         border: none;
}

.filaPar {
       	 color: #082573;
	 background-color:#FFFFE8;
	 height:16px;
         font-size : 10px;
}

.filaParNoBorder {
       	 color: #082573;
	 background-color:#FFFFE8;
	 height:16px;
         font-size : 10px;
         border: none;
}