<%@ page import="java.util.*, com.ssi.model.salud.*" %>
<jsp:useBean id="busquedaActividades" scope="session" class="com.ssi.bean.salud.BusquedaActividades" />

<%
	String strNumero = request.getParameter("numero");
		
	Vector vectorActividad = busquedaActividades.getListaActividades();
	int limite = vectorActividad.size();
	boolean encontrado=false;
	int i=0;
	Actividad unaActividad = null;
	while(i<limite && !encontrado){
 	   unaActividad = (Actividad) vectorActividad.elementAt(i);
 	   if(unaActividad.ve_ac_ref().equals(strNumero))
 	     encontrado=true;
 	   i++;  
	}*/
%>

<html>
<head>
<title>salud</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#FFFFFF">
<table width="74%" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr valign="top"> 
    <td width="4%" align="right"><img src="/jsp/pics/solapa_left.gif" width="28" height="25"></td>
    <td bgcolor="#C6BEA7" align="center" width="92%"><font face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF" size="2"><img src="/jsp/pics/solapa_medio_actividad.gif" width="451" height="25"></font></td>
    <td width="4%"><img src="/jsp/pics/solapa_right.gif" width="29" height="25"></td>
  </tr>
</table>
<table width="74%" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr bgcolor="#FFFFCC"> 
    <td width="4%">&nbsp;</td>
    <td width="92%"><font face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF" size="2"><font color="#000000">Actividad:
    <b><%=unaActividad.ve_ac_ref()%></b></font></font></td>
    <td width="4%">&nbsp;</td>
  </tr>
  <tr bgcolor="#FFFFCC"> 
    <td width="4%">&nbsp;</td>
    <td width="92%"><font face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF" size="2"><font color="#000000">Identificador 
      del encuentro:</font></font><b><font face="Verdana, Arial, Helvetica, sans-serif" size="2">16</font></b></td>
    <td width="4%">&nbsp;</td>
  </tr>
</table>
<table width="74%" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr bgcolor="#CCCCCC"> 
    <td width="50%" align="center"> 
      <p><font face="Verdana, Arial, Helvetica, sans-serif" color="#000000" size="2">Fecha 
        de la actividad: <b><%=unaActividad.ve_ac_fecha()%></b> </font></p>
    </td>
    <td width="50%" align="center"><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#000000">Hora 
      de la actividad</font><font color="#000000">: <font face="Verdana, Arial, Helvetica, sans-serif" size="2"><b><%=unaActividad.ve_ac_hora()%> 
      hs</b></font> </font></td>
  </tr>
</table>
<table width="74%" border="0" cellspacing="0" cellpadding="0" bgcolor="#012652" align="center">
  <tr align="center"> 
    <td width="4%" height="30" bgcolor="#012652"> 
      <p align="left">&nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF" size="2"> 
        </font></p>
    </td>
    <td width="92%" valign="middle" height="30"> 
      <div align="left"><font face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF" size="2">Descripci&oacute;n 
        de la actividad: <b><%=unaActividad.ve_ac_descri()%></b></font></div>
    </td>
    <td width="4%" height="30" bgcolor="#012652">&nbsp;</td>
  </tr>
  <tr align="center"> 
    <td width="4%" height="28" bgcolor="#012652"><font face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF" size="2">&nbsp;<br>
      </font></td>
    <td width="92%" valign="middle" height="28"> 
      <div align="left"><font face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF" size="2">Tipo 
        de actividades: <b><%=unaActividad.ve_ac_tipo()%></b></font></div>
    </td>
    <td width="4%" height="28" bgcolor="#012652">&nbsp;</td>
  </tr>
  <tr align="center"> 
    <td width="4%" height="26" bgcolor="#012652"><font face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF" size="2">&nbsp;<br>
      </font></td>
    <td width="92%" valign="middle" height="26"> 
      <div align="left"><font face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF" size="2">Estado 
        de la actividad: <b><%=unaActividad.ve_ac_estado()%></b></font></div>
    </td>
    <td width="4%" height="26" bgcolor="#012652">&nbsp;</td>
  </tr>
  <tr align="center">
    <td width="4%" height="26" bgcolor="#012652">&nbsp;</td>
    <td width="92%" valign="middle" height="26" align="left"><font face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF" size="2">Tipo 
      de actividades: <b><%=unaActividad.ve_ac_tipo()%></b></font></td>
    <td width="4%" height="26" bgcolor="#012652">&nbsp;</td>
  </tr>
</table>
<table width="74%" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr valign="top"> 
    <td width="4%" align="right"><img src="/jsp/pics/solapa_left_down.gif" width="28" height="27"></td>
    <td bgcolor="#C6BEA7" align="left" width="92%"><font face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF" size="2"><img src="/jsp/pics/solapa_medio_down.gif" width="451" height="27"></font></td>
    <td width="4%"><img src="/jsp/pics/solapa_right_down.gif" width="30" height="27"></td>
  </tr>
</table>
</body>
</html>
