td.linea{
	border-bottom: 10px solid #002969;
}

body.paginacentral{
	background: #F4F3F8;
	margin: 25px 5px 0px 30px;
	width: 100%;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #002751;
	font-size: 11px;
}

table.delapaginacentral{
	height: 175px;
	margin:0px;
	width:100%;
	text-align: left;
	background-color : transparent;
	font-size: 11px;
	color: #002969;
	border-top: 1px solid #5B5CAC;
}

table.delapaginacentral1{
	height: 70px;
	margin:0px;
	width:78%;
	text-align: left;
	background-color : transparent;
	font-size: 11px;
	color: #002969;
	border-top: 1px solid #5B5CAC;
}

table.busquedaavanzada{
	height: 2px;
	margin:0px;
	width:100%;
	text-align: left;
	background-color : transparent;
	font-size: 11px;
	color: #002969;
	border-top: 1px solid #5B5CAC;
}

td.paraeltextocentral{
	font-size: 10px;
	color: #002969;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	vertical-align: top;
	text-align: left;
	border-left: 1px solid #5B5CAC;
	border-bottom: 2px solid #5B5CAC;
}

td.paraeltextocentral1{
	font-size: 10px;
	color: #082574;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	vertical-align: top;
	text-align: left;
	border-bottom: 2px solid #5B5CAC;
	padding-left: 15px;
	padding-top: 15px;
}

td.sololineassuperior{
	height: 2px;
	font-size: 2px;
	border-bottom: 1px solid #5B5CAC;
	border-left: 1px solid #5B5CAC;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

td.sololineassuperior1{
	height: 2px;
	font-size: 2px;
	border-bottom: 1px solid #5B5CAC;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

td.sololineassuperior2{
	height: 2px;
	font-size: 2px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

.negrita{
	font-size: 11px;
	font-weight: bold;
}

td.datosprofesional{
	text-align: center;
	vertical-align: top;
	padding-top: 19px;
	padding-bottom: 29px;
	font-size: 13px;
	font-weight: bold;
	border-left: 1px solid #082574;
	color: #082574;
}

td.imagen{
	vertical-align: bottom;
	padding: 0px 0px 0px 0px;
}

td.sololineassuperior3{
	height: 2px;
	font-size: 2px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

td.datos{
	color : #082574;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	vertical-align : middle;
	text-align: right;
	padding: 10px 15px 10px 0px;
	border-left: 1px solid #5B5CAC;
	height: 16px;
	background-color : #CED3E3;
	font-weight: bold;
}

td.datos2{
	color : #082574;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	vertical-align : middle;
	text-align: right;
	padding: 10px 15px 10px 6px;
	height: 16px;
	background-color :#CED3E3;
	font-weight: bold;
}

.inputformulario {
	height: 16px;
	font-size : 10px ;
	font-weight: bold;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #082574;
	border: 1px solid #5B5CAC;
	padding:0px 0px 0px 0px;
}

.inputformulario4 {
	height: 18px;
	font-size : 12px ;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #082574;
	border: 1px solid #5B5CAC;
	padding: 0px 0px 0px 0px;
	width: 55px;
	vertical-align: middle;
	text-align: left;
}

.inputformulario1 {
	height: 18px;
	font-size : 12px ;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #082574;
	border: 1px solid #5B5CAC;
	padding:0px 0px 0px 0px;
	width: 140px;
	vertical-align: middle;
	text-align: left;
}

.inputformulario2 {
	height: 16px;
	font-size : 10px ;
	font-weight: bold;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #082574;
	border: 1px solid #5B5CAC;
	padding:0px 0px 0px 0px;
	width: 20px;
	vertical-align: middle;
	text-align: left;
}

.inputformulario3 {
	height: 16px;
	font-size : 10px ;
	font-weight: bold;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #082574;
	border: 1px solid #5B5CAC;
	padding:0px 0px 0px 0px;
	width: 30px;
	vertical-align: middle;
	text-align: left;
}

.inputformulario5 {
	height: 16px;
	font-size : 10px ;
	font-weight: bold;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #082574;
	border: 1px solid #5B5CAC;
	padding:0px 0px 0px 0px;
	width: 65px;
	vertical-align: middle;
	text-align: left;
}

.inputformulario6{
	height: 18px;
	font-size : 12px ;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #082574;
	border: 1px solid #5B5CAC;
	padding: 0px 0px 0px 3px;
	width: 110px;
	vertical-align: middle;
	text-align: left;
}

.inputformulario7{
	height: 16px;
	font-size : 10px ;
	font-weight: bold;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #082574;
	border: 1px solid #5B5CAC;
	padding: 0px 2px 0px 0px;
	width: 140px;
	vertical-align: middle;
	text-align: left;
}

.inputformulario8{
	height: 16px;
	font-size : 10px ;
	font-weight: bold;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #082574;
	border: 1px solid #5B5CAC;
	padding: 0px 2px 0px 0px;
	width: 88%;
	vertical-align: middle;
	text-align: left;
}

.inputformulario9{
	height: 16px;
	font-size : 10px ;
	font-weight: bold;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #082574;
	border: 1px solid #5B5CAC;
	padding: 0px 2px 0px 0px;
	width: 86px;
	vertical-align: middle;
	text-align: left;
}

.inputformulario10{
	height: 88px;
	font-size : 10px ;
	font-weight: bold;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #082574;
	border: 1px solid #5B5CAC;
	padding: 0px 2px 0px 0px;
	width: 90%;
	vertical-align: middle;
	text-align: left;
}

.inputformulario11 {
	height: 15px;
	font-size : 10px ;
	font-weight: bold;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #082574;
	padding: 0px 0px 3px 0px;
	width: 25px;
	vertical-align: top;
	text-align: left;
	background-color: #DAE4F2;
}

.inputformulario12{
	height: 16px;
	font-size : 10px ;
	font-weight: bold;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #082574;
	border: 1px solid #5B5CAC;
	padding: 0px 2px 0px 0px;
	width: 98%;
	vertical-align: middle;
	text-align: left;
}


table.tabladedatos{
	background-color: #CED3E3;
	border-top: 1px solid #5D5CAC;
	border-bottom: 1px solid #5D5CAC;
}

table.tabladedatos1{
	background-color: #F4F3F8;
}

td.boton{
	text-align: right;
	padding: 13px 0px 0px 0px;
}

td.boton1{
	text-align: right;
	padding: 13px 0px 0px 0px;
}

td.boton2{
	text-align: right;
	padding: 0px 0px 0px 0px;
}

body.paginabusqueda{
	background: #F4F3F8;
	margin: 0px 5px 0px 4px;
	width: 100%;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #002751;
	font-size: 11px;
}

table.delapaginabusqueda{
	margin:0px;
	width:100%;
	text-align: left;
	background-color : #F4F3F8;
	font-size: 11px;
	color: #002969;
}

td.imagenbusqueda{
	vertical-align: top;
	text-align: left;
	padding-top: 3px;
}

td.datossolicitante{
	color: #002969;
	border-top: 1px solid #5D5CAC;
	font-size: 10px;
	font-weight: bold;
	padding-top: 2px;
}

td.paratarjeta{
	height: 248px;
	margin:0px;
	width:50%;
	text-align: right;
	background-color : transparent;
	font-size: 11px;
	color: #002969;
	border-left: 1px solid #002969;
	padding-right: 0px;
	padding-top: 20px;
}

td.paratarjeta1{
	height: 248px;
	margin:0px;
	width:100%;
	text-align: right;
	background-color : transparent;
	font-size: 11px;
	color: #002969;
}

td.datospararellenar{
	text-align: left;
	font-size: 11px;
	font-weight: bold;
	border-left: 1px solid #5B5CAC;
}

td.datospararellenar1{
	text-align: left;
	font-size: 10px;
	font-weight: bold;
	padding-left: 14px;
	color: #082574;
}

td.sololineassuperior4{
	height: 2px;
	font-size: 2px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	border-top: 1px solid #5B5CAC;
}

td.campostexto{
	background-color: #CED3E3;
	border: 2px solid #5D5CAC;
	height: 38px;
}

td.pocotexto{
	color: #002969;
	font-size: 10px;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
}

td.parabajarlo{
	padding-bottom: 2px;
}

td.textobusqueda{
	color : #082574;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	vertical-align : middle;
	text-align: left;
	padding: 0px 0px 0px 2px;
	border-left: 1px solid #002969;
	height: 17px;
	background-color : #CED3E3;
}

td.textobusqueda1{
	height: 17px;
	background-color : #CED3E3;
}

.busqueda{
	color : #082574;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	text-decoration: none;
}

.colornew{
	color: #082574
}

body.paginasugerencias{
	background: White;
	margin: 18px 8px 0px 11px;
	width: 100%;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

td.textosugerencia{
	color: #002969;
	font-size: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.superior{
	color: #002969;
	font-size: 10px;
	font-weight: bold;
}

table.ventananew{
	width: 416px;
	height: 250px;
	border: 1px solid #002969;
	background-color : #DAE4F2;
	margin-top: 18px;
}

td.datosventana{
	color : #082574;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	vertical-align : middle;
	text-align: left;
	padding: 12px 2px 0px 6px;
	height: 16px;
	background-color : #F4F3F8;
}

td.datosventana1{
	color : #002969;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	vertical-align : middle;
	text-align: right;
	padding: 12px 2px 0px 6px;
	height: 16px;
	background-color : #DAE4F2;
}

td.paratextogrande{
	vertical-align: top;
	text-align: left;
	padding-left: 5px;
	padding-top: 6px;
}
.sugerir{
	color: #002964;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	width: 55px;
	border: 1px solid #002969;
	padding-top: 1px;
	padding-bottom: 1px;
}

td.botonsugerir{
	vertical-align: middle;
	text-align: center;
	padding-top: 13px;
	padding-bottom: 5px;
}

body.paginasbusquedavanzada{
	background:#F4F3F8;
	margin: 0px 8px 20px 11px;
	width: 80%;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	vertical-align: top;
	border-bottom: 1px solid #5B5CAC;
}

body.paginalocaliza{
	background: #F4F3F8;
	margin: 0px 0px 0px 0px;
	width: 100%;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

table.busquedaencontrada{
	background-color:#082574;
	color: White;
	vertical-align: top;
	text-align: left;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 26px;
}

table.busquedaencontrada1{
	background-color: #082574;
	color: White;
	vertical-align: top;
	text-align: left;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 26px;
	padding-left: 3px;
	border-top: 2px solid #DAE4F2;
}

table.busquedaencontrada1new{
	background-color: #082574;
	color: White;
	vertical-align: top;
	text-align: left;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 26px;
	padding-left: 3px;
	border-top: 2px solid #F4F3F8;
}

td.colocar{
	padding-left: 4px;
}

td.colocar1{
	padding-left: 4px;
	text-decoration: underline;
	padding-bottom: 1px;
}

td.colocar2{
vertical-align: middle;
text-align: center;
}

td.colocar3{
	padding-left: 4px;
	text-decoration: none;
	padding-bottom: 1px;
}


table.busquedaencontrada2{
	background-color: #F4F3F8;
	color: #082574;
	vertical-align: top;
	text-align: left;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 26px;
	border-bottom: 1px solid #082574;
}

table.busquedaencontrada3{
	background-color: #B4BDD5;
	color:#082574;
	vertical-align: top;
	text-align: left;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 26px;
	border-bottom: 1px solid #082574;
}

.enlace{
	color : #002969;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
}

body.datos{
	background: #DAE4F2;
	margin: 8px 0px 0px 10px;
	width: 100%;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #002751;
	font-size: 11px;
	border-bottom: 3px solid #002969;
	border-right: 3px solid #002969;
}

table.paralosdatos{
	margin:0px;
	width:100%;
	text-align: left;
	background-color : transparent;
	font-size: 11px;
	color: #002969;
}

td.datosencontrados{
	text-align: left;
	vertical-align: top;
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 13px;
	font-weight: bold;
}

body.listadosdatos{
	background: White;
	margin: 15px 6px 6px 12px;
	width: 100%;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #002751;
	font-size: 11px;
	border-bottom: 3px solid #002969;
}

body.listadosdatos1{
	background: #F4F3F8;
	margin: 15px 0px 0px 12px;
	width: 100%;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #002751;
	font-size: 11px;
	vertical-align: bottom;
}

body.listadosdatos2{
	background: White;
	margin: 49px 6px 6px 12px;
	width: 100%;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #002751;
	font-size: 11px;
	border-bottom: 3px solid #002969;
}

body.listadosdatos3{
	background-color: #F4F3F8;
	margin: 0px 4px 0px 12px;
	width: 100%;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #002751;
	font-size: 11px;
	vertical-align: bottom;
	height: 100%;
}

body.listadosdatos3new{
	background-color: white;
	margin: 0px 4px 0px 12px;
	width: 100%;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #002751;
	font-size: 11px;
	vertical-align: bottom;
	height: 100%;
}

body.listadosdatos4{
	background: #F4F3F8;
	margin: 15px 4px 0px 12px;
	width: 100%;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #002751;
	font-size: 11px;
	vertical-align: bottom;
}

body.listadosdatos5{
	background: #F4F3F8;
	margin: 0px 0px 0px 11px;
	width: 100%;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #002751;
	vertical-align: top;
	border-bottom: 3px solid #002969;
}

table.ventanadatos{
	width: 100%;
	background-color : #CED3E3;
}

table.ventanadatos1{
	width: 100%;
	background-color : #F4F3F8;
	vertical-align: top;
	border-left: 1px solid #002969;
}

table.ventanadatos3{
	width: 100%;
	background-color : #F4F3F8;
	vertical-align: top;
	border-left: 1px solid #5D5CAC;
}

table.ventanadatos2{
	width: 100%;
	background-color : #DAE4F2;
	background-color : white;
	vertical-align: top;
}

td.subir{
	vertical-align: top;
}

.paradatos{
	color : #002969;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	text-align: left;
	font-weight: bold;
}


td.listadatos{
	color : #082574;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	vertical-align : middle;
	text-align: left;
	padding: 2px 2px 2px 2px;
	height: 16px;
	background-color : #F4F3F8;
}

td.listadatos1{
	color : #002969;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	vertical-align : top;
	text-align: left;
	padding: 2px 0px 2px 2px;
	height: 40px;
	background-color : white;
}

td.listadatos2{
	color : #002969;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	vertical-align : middle;
	text-align: right;
	padding: 2px 2px 2px 2px;
	height: 16px;
	background-color : #F4F3F8;
}

td.listadatos3{
	color : Red;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	vertical-align : middle;
	text-align: left;
	padding: 2px 2px 2px 2px;
	height: 16px;
	background-color : #F4F3F8;
}

td.listadatos4{
	color : #002969;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	vertical-align : bottom;
	text-align: left;
	padding: 2px 0px 2px 2px;
	height: 40px;
	background-color : #F4F3F8;
}

td.listadatos5{
	color : #082574;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	vertical-align : middle;
	text-align: left;
	padding: 2px 2px 2px 2px;
	height: 16px;
	background-color : #F4F3F8;
}

td.listadatos6{
	color : #002969;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	vertical-align : bottom;
	text-align: left;
	padding: 2px 0px 2px 2px;
	height: 40px;
	background-color : #F4F3F8;
}

td.listadatosnew{
	color : #082574;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	vertical-align : middle;
	text-align: left;
	padding: 2px 2px 2px 2px;
	height: 16px;
	background-color :white;
}

td.listadatos5new{
	color : #082574;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	vertical-align : middle;
	text-align: left;
	padding: 2px 2px 2px 2px;
	height: 16px;
	background-color : white;
}


td.colocarboton{
	vertical-align: top;
	text-align: left;
}

table.parasuperior{
	margin:0px;
	width:100%;
	text-align: left;
	background-color : #F4F3F8;
	font-size: 11px;
	color: #082574;
	border-top: 1px solid #5D5CAC;
}

td.textopaciente{
	background-color: #CED3E3;
	border-bottom: 1px solid #5D5CAC;
	color: #082574;
	text-align: left;
	vertical-align: middle;
	padding: 2px 0px 2px 2px;
	font-size: 11px;
	font-weight: bold;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	border-left: 1px solid #5D5CAC;
}
.celdaArbol{
	background-color: #F4F3F8;
	color: #002969;
	text-align: left;
	vertical-align: middle;
	padding: 2px 0px 2px 2px;
	font-size: 11px;
	font-weight: bold;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	}
.celdaFolder{
	background-color: #F4F3F8;
	color: #002969;
	text-align: left;
	vertical-align: middle;
	padding: 2px 0px 2px 2px;
	font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	}

td.textopaciente1{
	background-color: #CED3E3;
	border-bottom: 1px solid #5D5CAC;
	color: #082574;
	text-align: left;
	vertical-align: middle;
	padding: 2px 0px 2px 2px;
}

td.textopaciente2{
	background-color: #FFFFFF;
	border-bottom: 1px solid #002969;
	color: #002969;
	text-align: left;
	font-size: 11px;
	vertical-align: middle;
	padding: 2px 0px 2px 2px;
}

td.textocampo{
  background-color: #CED3E3;
	color: #082574;
	text-align: left;
	vertical-align: middle;
	padding: 2px 0px 2px 2px;
	font-size: 10px;
	font-weight: bold;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

table.fondoblanco{
	background-color: #F4F3F8;
	vertical-align: bottom;
	padding: 0px 0px 0px 0px;
}

table.subirmenu{
	vertical-align: top;
	text-align: left;
	padding: 0px 0px 0px 0px;
    border-bottom: 1px solid #082574;

}

td.subirlineas{
	vertical-align: top;
	text-align: left;
	padding: 0px 0px 0px 0px;
}

td.opcion1{
	color: #006699;
	text-align: left;
	vertical-align: middle;
	font-size: 10px;
	font-weight: bold;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding: 0px 0px 0px 0px;
}

td.opcion2{
	color: #006699;
	text-align: left;
	vertical-align: middle;
	font-size: 10px;
	font-weight: bold;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	height: 20px;
	padding: 0px 0px 0px 0px;
	border-top: 2px solid #DAE4F2;
}

td.opcion3{
	color: #006699;
	text-align: left;
	vertical-align: middle;
	font-size: 10px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	height: 20px;
	padding: 0px 0px 0px 0px;
	background-image: url(../imagenes/lateral1.gif);
	background-position: left;
	background-repeat: repeat-y;
}

td.lineazul{
	background-color: #DAE4F2;
	text-align: left;
	height: 10px;
	padding: 0px 0px 0px 0px;
}


A.botones{
	color: #004477;
	text-align: left;
	vertical-align: middle;
	font-size: 10px;
	font-weight: bold;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding: 4px 0px 4px 3px;
	background-color: White;
	width: 100%;
	height: 100%;
	text-decoration: none;
}

A.botones:HOVER {
	color: #004477;
	text-align: left;
	vertical-align: middle;
	font-size: 10px;
	font-weight: bold;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding: 4px 0px 4px 3px;
	background-color: #DAE4F2;
	width: 100%;
	height: 100%;
	text-decoration: none;
}

A.botones:VISITED {
	color: #006699;
	text-align: left;
	vertical-align: middle;
	font-size: 10px;
	font-weight: bold;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding: 4px 0px 4px 3px;
	background-color: white;
	width: 100%;
	height: 100%;
	text-decoration: none;
}

td.textoenlaces{
	text-align: left;
	vertical-align: middle;
	padding: 0px 0px 0px 0px;
	color: #004477;
	font-size: 10px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	border-bottom: 1px solid #002969;
}


td.textoenlaces1{
	text-align: right;
	vertical-align: middle;
	padding: 0px 0px 0px 0px;
	color: #004477;
	font-size: 10px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	border-bottom: 1px solid #002969;
}

td.textoenlaces2{
	text-align: left;
	vertical-align: middle;
	padding: 0px 0px 0px 0px;
	color: #082574;
	font-size: 10px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;

}
.textolinea{
	color: #004477;
	font-size: 11px;
	font-weight: bold;
	text-decoration: underline;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.textosinlinea{
	color: #004477;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}


